:root {
    --primary: rgba(50, 82, 136, 0.85);
    --secondary: #8C1C13;
    --background: #f4f4f4;
    --color-neutral-dark: #555B6E;
    --color-accent-gold: #D4AF37;
    --color-accent-green: #6E8B3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary);
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-shadow: 0 0 15px #292929;
    color: var(--secondary);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #445ba9;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#292929;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 1rem;
    right: 2vw;
}

h2 {
    margin: 1rem;
}

ul.menulink li a {
    display: block;
    padding: .75rem 2vw;
    text-decoration: none;
    color: #8B0000;
    text-decoration: none;

}

.active {
    background-color: rgba(0, 0, 0, 0.2);

}

ul.menulink {
    display: none;
    list-style-type: none;
}

ul.menulink.open {
    display: block;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation.open a {
    display: block;
}

li.active a {
    color: rgba(0, 0, 0, 0.2);
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: var(--background);
    color: #333;
}


.weather-info,
.panel p,
.forecast {
    padding: 0.5rem;

}




main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    width: 100%;
}

.info-panels {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.spotlight-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

.spotlight-card {
    border: 2px solid #ccc;
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.spotlight-card img {
    width: 100px;
    height: auto;
    object-fit: contain;
}


.panel {
    background: white;
    border: 1px solid #ccc;

}

.panel h3 {
    background: var(--primary);
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    margin: 0.5rem 0;
}

.hero {
    position: relative;
    text-align: center;

}

.hero img {
    width: 100%;
    height: 50%;
    display: block;
}

.cta {
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 1rem 1.5rem;
    background-color: #444;
    color: white;
    border: #f4f4f4;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 10px;
    animation: color_change 5s infinite alternate;
}

@keyframes color_change {
    from {
        background-color: #8c1b13a7;
    }

    to {
        background-color: #555b6ec0;
    }
}

.cta:hover {
    font-weight: bold;
    font-size: larger;
    transition: .6s;
}




.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0.5rem #b0b0b0;
}


.card img {
    width: 100%;
    max-width: 100%;
    max-height: 120px;
    margin: 0.5rem 0;
    height: auto;
    object-fit: contain;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    background: #e0e0e0;
    font-size: 0.9rem;
    align-items: center;
}

.social-icon1,
.social-icon2,
.social-icon3 {
    font-size: 60px;
    color: #333;
    margin: 0 10px;
    transition: transform 0.2s;
}

.social-icon1:hover {
    transform: scale(1.2);
    color: #0076b5df;
}

.social-icon2:hover {
    transform: scale(1.2);
    color: #0077b5;
}

.social-icon3:hover {
    transform: scale(1.2);
    color: #b50000;
}




.view-directory {
    text-align: center;
    margin-bottom: 1rem;
}

.view-directory button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #333;
    background: #fff;
}

.business-cards.list {
    display: block;
}

.business-cards.list .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

img {
    aspect-ratio: 3 / 2;
    width: 100%;
    height: auto;
    display: block; }



/*----------- FORM --------------*/
.bodyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.h1Form {
    text-align: center;
    margin-bottom: 20px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 20rem;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearence: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem .5rem;
    color: #555;
}

form label.sbs input {
    padding: 0 .2rem;
}

form input.submitBtn {
    border: none;
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}


textarea {
    width: 100%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.membership-section {
    flex: 1 1 300px;
    max-width: 400px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: #d4eae4;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}

.fade-in.delay1 {
    animation-delay: 0.10s;
}

.fade-in.delay2 {
    animation-delay: 0.8s;
}

.fade-in.delay3 {
    animation-delay: 0.6s;
}

.fade-in.delay4 {
    animation-delay: 0.4s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.join {
    color: red;
}

.join-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start;
}

.form-section,
.membership-section {
    flex: 1 1 45%;
    /* Grow/shrink, with a base width */
    min-width: 300px;
}

/*-----------   DIRECTORY --------------*/

/*-----------   DISCOVERY --------------*/
#allplaces div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "img"
    "description"
    "address";
}
#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}
#allplaces div img {
    width: 100%;
    grid-area: img;
}
#allplaces div p{
    margin: 1rem 10px;
    grid-area: description;
}
#allplaces div address {
    margin: 1rem 10px;
    grid-area: address;
}

.sidebar-message {
    background-color: #f0f0f0;
    padding: 1rem;
    margin: 1rem;
    border-left: 4px solid #999;
    font-style: italic; }