* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

/* HEADER */
header {
    background-color: #29335c;
    color: #fff; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}

.profile {
    display: grid;
        grid-template-columns: 1fr ;
        gap: 1rem;
        align-items: center;
}

.profile img {
    width: 200px;
    height: 200px;
    margin-left: 13rem;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50%;
}

.profile span {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 5rem;
}

/* NAVIGATION */



nav {
    display: none;
    flex-direction: column;
    background-color: #1d2d50;
    padding: 0.75rem 1rem;
    
    
}

nav.open {
    display: flex;
}

.hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    cursor:pointer;
}

nav ul {
    list-style: none;


}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #133b5c;
}

nav a.active {
    background-color: #f95959;
    color: #fff;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
}

main h1 {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #007acc;
}

.work {
   display: grid;
   grid-template-columns: 2fr 1fr;
        padding: 1rem;
        
        gap: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    background-color: #007acc;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
   
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

section ul {
    padding: 1.5rem;
}
section {
    background-color: #eef0f2;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* COURSE CARD STYLING */



.card {
    border: 1px solid #ccc;
    padding: o;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.card img {
    padding: 5px;
    margin: 0;
    border-radius: 20px;
    text-align: center;
}

.card p {
    padding: 10px;
}

figure {
    padding: 0;
    /* max-width: 220px; */
    margin: 0;
    text-align: center;
}

.resources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;

}

.resources>button {
    font-weight: bold;
}

.resources button:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
    transition: .3s;
}

#Certificates div {
    text-align: center;
}

#Certificates button {
    padding: .75rem;
    margin: .5rem;
    border: 1px solid #999;
    border-radius: 10px;

    animation: color_change 5s infinite alternate;
}

#courses_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#courses_list div {
    padding: .75rem;
    margin: .5rem;
    border-radius: 10px;
    border: 1px solid #999;
    background-color: #dcecfa;
}

.complete {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px 0;
}

.needed {
    background-color: #eee;
    padding: 10px;
    margin: 10px 0;
}



/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #29335c;
    color: #fff;
    margin-top: 2rem;
    font-size: 0.9rem;
}

#lastModified {
    color: #ffcccb;
    margin-top: 0.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 640px) {

    header {background-color: #29335c;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: center;
    }
    
    .profile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }
    
    .profile img {
        width: 200px;
        height: 200px;
        margin-left: 20rem;
        margin-top: 1rem;
        object-fit: cover;
        border-radius: 50%;
    }

    
    .nav {
            display: flex !important;   }

    nav ul {
        display: flex;
        }
    
    nav ul li {
        flex: 1 1 100%;
        }

        .hamburger{ 
            display: none;
        }

    

       
}




